{% extends 'LodhaApp/adminbase.html' %}

{% load static %}

<!-- custome title -->
{% block title %}
<title>WT call requests Page</title>
{% endblock title %}

<!-- custom css -->
{% block css %}

{% endblock css %}

<!-- custom js -->
{% block js %}
{% endblock js %}


{% block body %}
<div class="container">
    <!-- heading -->
    <div style="background-color: rgba(205, 194, 119, 0.196);" class="container text-center shadow">
        <h2>Lodha Park-Marquise <span class="text-warning">3BHK</span> Bookings</h2>
        <form action="{% url 'mq_bookings' %}">
            <input type="submit" class="btn btn-warning" value="Show Bookings">
        </form>
    </div>

    <div class="container mt-5">
        
        <table class="table">
            <thead>
                <th>Sr.no</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Address</th>
                <th>Email</th>
                <th>DOB</th>
                <th>State</th>
                <th>City</th>
                <th>Pincode</th>
                <th>Reference</th>
                <th>Contact</th>          
    
            </thead>
            {% for d in data1 %}
            <tbody>
                
                <td>{{d.id}}</td>
                <td>{{d.full_name}}</td>
                <td>{{d.username}}</td>
                <td>{{d.address}}</td>
                <td>{{d.email}}</td>
                <td>{{d.dob}}</td>
                <td>{{d.state}}</td>
                <td>{{d.city}}</td>
                <td>{{d.pincode}}</td>
                <td>{{d.How_do_you_hear}}</td>
                <td>{{d.contact}}</td>
            
                {% endfor %}
            </tbody>
        </table>
    </div>

    

</div>
<div class="container">
    <!-- heading -->
    <div style="background-color: rgba(205, 194, 119, 0.196);" class="container text-center shadow">
        <h2>Lodha Park-Marquise <span class="text-warning">4BHK</span> Bookings</h2>
        <form action="{% url 'mq_bookings2' %}">
            <input type="submit" class="btn btn-warning" value="Show Bookings">
        </form>
        
    </div>

    <div class="container mt-5">
        
        <table class="table">
            <thead>
                <th>Sr.no</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Address</th>
                <th>Email</th>
                <th>DOB</th>
                <th>State</th>
                <th>City</th>
                <th>Pincode</th>
                <th>Reference</th>
                <th>Contact</th>          
    
            </thead>
            {% for d in data2 %}
            <tbody>
                
                <td>{{d.id}}</td>
                <td>{{d.full_name}}</td>
                <td>{{d.username}}</td>
                <td>{{d.address}}</td>
                <td>{{d.email}}</td>
                <td>{{d.dob}}</td>
                <td>{{d.state}}</td>
                <td>{{d.city}}</td>
                <td>{{d.pincode}}</td>
                <td>{{d.How_do_you_hear}}</td>
                <td>{{d.contact}}</td>
            
                {% endfor %}
            </tbody>
        </table>
    </div>

    

</div>
{% endblock body %}