{% extends 'LodhaApp/marquise/mq_base.html' %}

{% load static %}

<!-- custome title -->
{% block title %}
<title>World Tower Gallery Page</title>
{% endblock title %}

<!-- custom css -->
{% block css %}

{% endblock css %}

<!-- custom js -->
{% block js %}

{% endblock js %}


{% block body %}
<!-- carousel -->
<div class="container mt-3">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_home_img1.jpg' %}" class="d-block w-100" alt="...">
                
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_a_2.jpg' %}" class="d-block w-100" alt="...">
                
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_a_1.jpg' %}" class="d-block w-100" alt="...">
                
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_am_1.jpg' %}" class="d-block w-100" alt="...">
                
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_am_2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_g_1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_g_2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'LodhaApp/images/mq/mq_g_3.jpg' %}" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock body %}