{% extends 'LodhaApp/marquise/mq_base.html' %}

{% load static %}

<!-- custome title -->
{% block title %}
<title>Services Page</title>
{% endblock title %}

<!-- custom css -->
{% block css %}

{% endblock css %}

<!-- custom js -->
{% block js %}
{% endblock js %}


{% block body %}
<div class="container">


    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
        tabindex="0">

        <!-- heading -->
        <div class="container text-center">
            <h1>Lodha Park <span style="color: rgb(169, 100, 4);">Services</span></h1>
        </div>

        <!-- table -->
        <div class="container w-75">
            <table class="table">
                <tr>
                    <td>
                        <a href="#scrollspyHeading1"><img src="{% static 'LodhaApp/images/mq/mq_sp1.png' %}"
                                alt=""></a>
                    </td>
                    <td>
                        <a href="#scrollspyHeading2"><img src="{% static 'LodhaApp/images/mq/mq_sp2.png' %}"
                                alt=""></a>
                    </td>
                    <td>
                        <a href="#scrollspyHeading3"><img src="{% static 'LodhaApp/images/mq/mq_sp3.png' %}"
                                alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#scrollspyHeading4"><img src="{% static 'LodhaApp/images/mq/mq_sp4.png' %}"
                                alt=""></a>
                    </td>
                    <td>
                        <a href="#scrollspyHeading5"><img src="{% static 'LodhaApp/images/mq/mq_sp5.png' %}"
                                alt=""></a>
                    </td>
                    
                </tr>
            </table>
        </div>

        <!-- 1 article -->
        <div id="scrollspyHeading1" class="container shadow p-3 w-75">
            <img src="{% static 'LodhaApp/images/articles/building.jpg' %}" height="300px" alt="">
            <h2>Hassle-Free Home Owning Experience at Lodha</h2>
            <h5>Studies show that green buildings can save up to 30% of energy and 50% of water. Builders can switch
                energy
                use to renewable sources during the construction stage itself</h5>
            <p>
                At Lodha Group, our passion is to create landmarks that meet global standards. Every one of our
                developments delivers world-class design and uncompromised quality, and is benchmarked against the
                highest standards of service.</p>

                <p>We offer a host of value-added services for our customers to aid them through every stage of the home
                    owning journey. Here’s a glimpse of the services we offer.</p>
                

                <p>Home Loan Support</p>

                <p>Lodha Fincorp (LFC) is our in-house loan team which coordinates with multiple banks to get home loan in
                the most convenient manner possible for our customers. They have tied up with 15+ banks and will always
                recommend the best bank given customer's income profile.</p>
        </div>

        <!-- 2 article -->
        <div id="scrollspyHeading2" class="container shadow p-3 w-75 mt-4">
            <img src="{% static 'LodhaApp/images/articles/carbon.jpg' %}" height="300px" alt="">
            <h2>What is Lodha Priva?</h2>
            <p>Lodha Priva is an exclusive membership program for Lodha home owners.The program offers exciting rewards and exclusive discounts to its members, whenever they make another purchase at Lodha or refer the extraordinary Lodha Life to their friends and family.</p>


                <p>EARN POINTS</p>
                
                <p> You will earn points on the basis of your membership tier and investment (The sum of self and referral purchases value) made with us.</p>
        </div>

        <!-- 3 article -->
        <div id="scrollspyHeading3" class="container shadow p-3 w-75 mt-4">
            <img src="{% static 'LodhaApp/images/articles/green.jpg' %}" height="300px" alt="">
            <h2>Green And Sustainable Living Spaces Are Key For Nurturing Healthy Families</h2>

            <p> Our homes are safe havens for us and our families. With a significant change in lifestyles and the work
                cultures, the at-home time grew manifold, and the home evolved from being just a physical space to an
                epicenter of work, play, and life. Being locked in for long, people spent more time with their families,
                which accentuated the emotional connection associated with one’s home. Everyone realized this emotional
                need
                and the importance of owning a home amidst uncertainties along with its positive impact on health and
                comfort. Especially, the young millennial generation who shifted from being asset-light to investing in
                properties. As validated by Morgan Stanley’s research, India’s property market sales are expected to
                grow at
                an 18% compound annual rate from 2020-25, thanks to the young, educated workforce and the significant
                growth
                in their disposable income.

                This increase in demand has considerably boosted the housing sector. According to IBEF, the Indian real
                estate industry is expected to reach a $1 trillion market size by 2030 and contribute 13% to the GDP by
                2025. Considering this massive growth, the real estate developers and the tor at large are pivotal in
                ensuring that the growth progresses sustainably, thereby resulting in a healthier ripple effect on the
                entire economy and the environment.</p>
        </div>

        <!-- 4 article -->
        <div id="scrollspyHeading4" class="container shadow p-3 w-75 mt-4">
            <img src="{% static 'LodhaApp/images/articles/mistakes.jpg' %}" height="300px" alt="">
            <h2>4 Mistakes To Avoid While Buying Your Dream Home</h2>


            <h5>not researching enough</h5>
            <p>Researching a variety of real estate properties before investing in one will help you understand what the
                market has to offer. Before zeroing in on a property, make sure that you have visited several properties
                that have been developed by different developers. This will help you better understand what can fit into
                your budget, in terms of the house’s size, your personal lifestyle, amenities offered, presence of basic
                conveniences, connectivity, and social infrastructure.</p>

            <h5>Not checking for hidden costs</h5>

            <p>Most first-time homebuyers tend to miss out on including hidden and additional costs in their budget.
                These
                include tax costs, stamp duty, registration charges, costs of repairs, maintenance costs, costs
                associated
                with packers and movers, home interiors, and so on. It’s important to consider all these costs before
                finalising your budget so that you are prepared for the final expenditure.</p>

            <h5>Not choosing the right property</h5>

            <p>Buying a home involves considering many aspects. It's important to take your and your family’s lifestyle,
                future needs into account when looking for a home. If you’re planning to live in the home for a long
                time,
                you must consider how appropriate the home is and whether it meets all your needs and requirements.</p>

            <h5> Choosing a developer based on cost alone</h5>

            <p> While you may have to pay a slightly higher premium when you choose a reputed developer, it’s safer to
                do so
                than to go with a developer who might charge less but end up costing you in the long run. Choosing a
                reputed
                developer helps you avoid issues like getting stuck with a delayed home or a poor-quality home.</p>
        </div>

        <!-- 5 -->

        <div id="scrollspyHeading5" class="container shadow p-3 w-75 mt-4">
            <img src="{% static 'LodhaApp/images/articles/wt_img3.jpg' %}" height="300px" alt="">
            <h2>The World Tower: A Prime Real Estate Hotspot In Mumbai</h2>
            <p>Witnessing the huge demand and the growth prospects, Grade A developers are fortifying their presence in
                Powai. The locality is an ultra-modern suburb that serves as a perfect destination for today’s elite
                home buyers.

                With the ‘new normal’ advancing in, the world is witnessing a paradigm shift in how we live, think and
                work. The all-around evolution of people’s lifestyles has led them to re-prioritize and re-evaluate
                their living choices and eventually integrate the alterations to stay in tandem with their post-pandemic
                lifestyle goals. This dynamic trend has also translated to homebuying, wherein owning a home has become
                of utmost importance. Homebuyers' preferences have undergone a massive change, impacting their
                homebuying decisions.</p>
        </div>
    </div>


</div>
{% endblock body %}