{% extends 'LodhaApp/userbase.html' %}

{% load static %}

<!-- custome title -->
{% block title %}
<title>Admin login Page</title>
{% endblock title %}

<!-- custom css -->
{% block css %}

{% endblock css %}

<!-- custom js -->
{% block js %}
{% endblock js %}


{% block body %}
<div class="container text-center">
    
    <div style="margin-top: 130px;" class="container shadow w-50 shadow p-3 rounded">
        <div class="container">
            <img src="{% static 'LodhaApp/images/home/admin.jpg' %}" height="100px" alt="">
        </div>
        <form action="{% url 'adminlogin' %}" method="post">
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {% endfor %}

            <div class="container mt-3">
                <input type="submit" class="btn btn-outline-primary btn-lg" value="Login">
            </div>
        </form>
    </div>
</div>
{% endblock body %}