{% extends 'LodhaApp/userbase.html' %}

{% load static %}

<!-- custome title -->
{% block title %}
<title>Bookings Page</title>
{% endblock title %}

<!-- custom css -->
{% block css %}
<style>
    #hover1:hover{
        background-color: rgba(255, 217, 0, 0.485);
    }
</style>
{% endblock css %}

<!-- custom js -->
{% block js %}
{% endblock js %}


{% block body %}
<div class="container text-center">

    <!-- heading -->
    <div class="container mt-5">
        <h2>WELCOME TO LODHA GROUP</h2>
    </div>

    

    <!-- body -->
    <div class="container mt-5">
        <table class="table">
            <tbody>
                <tr>
                    <td  style="padding: 75px;" class="border border-warning shadow">
                        <div  class="container">
                            <a  href="{% url 'wt_home' %}" class="text-decoration-none">
                                <img src="{% static 'LodhaApp/images/wt/wt_logo3.png' %}" alt="">
                            </a>
                        </div>
                    </td>
                    <td  style="padding: 75px;" class="border border-warning shadow ">
                        <div class="container">
                            <a  href="{% url 'mq_home' %}" class="text-decoration-none">
                                <img src="{% static 'LodhaApp/images/mq/mq_logo.png' %}" alt="">
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}